<?xml version="1.0" encoding="UTF-8"?>
<!-- https://springframework.guru/using-logback-spring-boot/ -->
<!-- http://logback.qos.ch/manual/appenders.html -->
<!DOCTYPE configuration>
<configuration debug="true">
<!-- <configuration> -->

    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook"/>
    
	<!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" /> -->
	<include
		resource="org/springframework/boot/logging/logback/base.xml" />

    <springProperty name="spring.profiles.active"
         source="spring.profiles.active" />

	<springProfile name="default">
        <logger name="local.intranet" level="DEBUG" />
        <logger name="org.springframework.web" level="WARN" />
        <logger name="org.springframework.security.web" level="WARN" />
        <logger name="org.springframework.session" level="WARN" />
        <logger name="org.quartz" level="WARN" />
        <logger name="org.hibernate.SQL" level="WARN" />
        <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="WARN" />
	</springProfile>

</configuration>
