<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head-before-none">
</head>
<body>
  <h1><span>
    <th:block th:if="${headerSoftware}" th:text="${serverSoftware}"/>
    <strong th:text="${T(org.thymeleaf.util.StringUtils).capitalize(serverName)}"/>
    <a th:href="'/'"><img th:src="@{/res/kotlin.png}" th:width="'31px'" th:height="'31px'" th:class="'borderoff'"/></a></span></h1>
  <div th:class="'content'" th:with="dateFormat=${T(local.intranet.bttf.api.domain.Contented).CONTENT_DATE_FORMAT}">
    <button th:type="'button'" th:class="'topBtn'" th:id="'topBtn'">Top</button><script th:src="@{/res/button.js}"></script>
    <div th:class="'content-middle'">
      <div th:class="'top'">
        <h2><span>
          <th:block th:utext="'Back to the Future\'s Log'"/>
          <small th:utext="'\'' + ${stage} + '\' on '"/>
          <small th:utext="${serverSoftware} + ' - \'' + ${activeProfiles} + '\''"/>
        </span></h2>
        <h5><span>
          <a th:if="${isAuthenticated}" th:href="@{/logout}" th:text="'Log out'"/> <small><th:block th:text="' - You are logged as '"/>
          <a th:if="${isAuthenticated}" th:href="@{/login?logout}" th:utext="'\'' + ${username} + '\''"/>
          <th:block th:utext="' with \'' + ${role} + '\''"/></small>
          <small><a th:href="@{/}" th:text="'Introduction'"/></small>
          <small><a th:href="@{/play}" th:text="'Play'"/></small>
          <small><a th:href="@{/properties/}" th:text="'Properties'"/></small>
          <small><a th:href="@{/swagger-ui/}" th:text="'Swagger'"/></small>
        </span></h5>
        <code th:if="${logsTotal.size() > 0}"><span>
        <table th:class="'data-table'">
<thead><tr><th th:class="'left'"><img th:src="@{/res/hibernate.png}" th:width="'12px'" th:height="'13px'" th:class="'borderoff'"/></th>
<th><big th:utext="'Level &#8681;'"/></big></th>
<th><big th:text="'Total'"/></th></tr></thead>
<tr th:class="${k.level.toLowerCase()}" th:each="k : ${logsTotal}">
<td><small><strong th:text="${logsTotalCounter.incrementAndGet()}"/></small></td>
<td th:class="'left'"><small><strong><a th:class="'decorationblack'" th:href="@{|/bttfLog/page/0/sort/idD/filter/${k.level}|}" th:text="${k.level}"/></strong></small></td>
<td th:class="'right'"><small><strong th:utext="${k.total}"/></small></td>
</tr></table></span></code>
        <h5 th:if="${bttfLogs.size() > 0}"><span>
          <span th:if="${logsPage <= 1}" th:class="'disabled'" th:utext="' &#8681; '"/><a th:if="${logsPage > 1}" th:utext="' &#8681; '" th:href="@{|/bttfLog/page/0/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <span th:if="${logsPage == 0}" th:class="'disabled'" th:utext="' &#8678; '"/><a th:if="${logsPage > 0}" th:utext="' &#8678; '" th:href="@{|/bttfLog/page/${prev}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <th:block th:text="'Logback'"/><th:block th:if="${logsFilter != '0'}" th:text="' '"/><a th:if="${logsFilter != '0'}" th:href="@{/bttfLog}" th:text="${logsFilter}"/><th:block th:text="' Count:' + ${logsCnt} + ' [' + ${logsPage + 1} + '/' + ${logsMax + 1} + ']'"/>
          <span th:if="${logsPage >= logsMax}" th:class="'disabled'" th:utext="' &#8680; '"/><a th:if="${logsPage < logsMax}" th:utext="' &#8680; '" th:href="@{|/bttfLog/page/${next}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <span th:if="${(logsPage + 1) >= logsMax}" th:class="'disabled'" th:utext="' &#8679; '"/><a th:if="${(logsPage + 1) < logsMax}" th:utext="' &#8679; '" th:href="@{|/bttfLog/page/${logsMax}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          </span></h5>
        <code th:if="${bttfLogs.size() > 0}"><span>
        <table th:class="'data-table'" th:width="'100%'">
<thead><tr><th th:width="'2%'" th:class="'left'"><img th:src="@{/res/hibernate.png}" th:width="'12px'" th:height="'13px'" th:class="'borderoff'"/></th>
<th th:width="'10%'"><big><a th:if="${(!logsSort.startsWith('id'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/idD/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Date'"/></a><a th:if="${(logsSort == 'idD')}" th:href="@{|/bttfLog/page/${logsPage}/sort/idU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Date&nbsp;&#8681;'"/></a><a th:if="${logsSort == 'idU'}" th:href="@{|/bttfLog/page/${logsPage}/sort/idD/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Date&nbsp;&#8679;'"/></a></big></th>
<th th:width="'23%'"><big><a th:if="${(!logsSort.startsWith('m'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/mU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Message'"/></a><a th:if="${(logsSort == 'mD')}" th:href="@{|/bttfLog/page/${logsPage}/sort/mU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Message&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'mU')}" th:href="@{|/bttfLog/page/${logsPage}/sort/mD/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Message&nbsp;&#8679;'"/></a></big></th>
<th th:width="'8%'"><big><a th:if="${(!logsSort.startsWith('a0'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/a0U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A0'"/></a><a th:if="${(logsSort == 'a0D')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a0U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A0&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'a0U')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a0D/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A0&nbsp;&#8679;'"/></a></big></th>
<th th:width="'14%'"><big><a th:if="${(!logsSort.startsWith('a1'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/a1U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A1'"/></a><a th:if="${(logsSort == 'a1D')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a1U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A1&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'a1U')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a1D/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A1&nbsp;&#8679;'"/></a></big></th>
<th th:width="'14%'"><big><a th:if="${(!logsSort.startsWith('a2'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/a2U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A2'"/></a><a th:if="${(logsSort == 'a2D')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a2U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A2&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'a2U')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a2D/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A2&nbsp;&#8679;'"/></a></big></th>
<th th:width="'8%'"><big><a th:if="${(!logsSort.startsWith('a3'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/a3U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A3'"/></a><a th:if="${(logsSort == 'a3D')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a3U/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A3&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'a3U')}" th:href="@{|/bttfLog/page/${logsPage}/sort/a3D/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'A3&nbsp;&#8679;'"/></a></big></th>
<th th:width="'18%'"><big><a th:if="${(!logsSort.startsWith('c'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/cU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Caller'"/></a><a th:if="${(logsSort == 'cD')}" th:href="@{|/bttfLog/page/${logsPage}/sort/cU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Caller&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'cU')}" th:href="@{|/bttfLog/page/${logsPage}/sort/cD/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'Caller&nbsp;&#8679;'"/></a></big></th>
<th th:width="'3%'"><big><a th:if="${(!logsSort.startsWith('l'))}" th:href="@{|/bttfLog/page/${logsPage}/sort/lU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'L'"/></a><a th:if="${(logsSort == 'lD')}" th:href="@{|/bttfLog/page/${logsPage}/sort/lU/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'L&nbsp;&#8681;'"/></a><a th:if="${(logsSort == 'lU')}" th:href="@{|/bttfLog/page/${logsPage}/sort/lD/filter/${logsFilter}|}" th:class="'decorationoff'"><strong th:utext="'L&nbsp;&#8679;'"/></a></big></th>
</tr></thead>
<tr th:class="${k.levelString.toLowerCase()}" th:each="k : ${bttfLogs}">
<td th:class="'right nowrap'"><small><strong th:text="${k.id}"/></small></td>
<td th:class="'center nowrap'"><small th:text="${#temporals.format(k.date, dateFormat)}"/></td><!--/* https://www.baeldung.com/dates-in-thymeleaf */-->
<td th:class="'left'"><small th:utext="${k.formattedMessage}"/></td>
<td th:class="'left'"><small><smaller th:if="${k.arg0 == '[NULL]'}" th:class="'data'" th:text="${k.arg0}"/><strong th:if="${k.arg0 != '[NULL]'}" th:utext="${k.arg0}"/></small></td>
<td th:class="'left'"><small><smaller th:if="${k.arg1 == '[NULL]'}" th:class="'data'" th:text="${k.arg1}"/><strong th:if="${k.arg1 != '[NULL]'}" th:utext="${k.arg1}"/></small></td>
<td th:class="'left'"><small><smaller th:if="${k.arg2 == '[NULL]'}" th:class="'data'" th:text="${k.arg2}"/><strong th:if="${k.arg2 != '[NULL]'}" th:utext="${k.arg2}"/></small></td>
<td th:class="'left'"><small><smaller th:if="${k.arg3 == '[NULL]'}" th:class="'data'" th:text="${k.arg3}"/><strong th:if="${k.arg3 != '[NULL]'}" th:utext="${k.arg3}"/></small></td>
<td th:class="'left'"><small th:utext="${k.callerClass}"/><br/><small><strong th:utext="${k.callerMethod}"/></small></td>
<td th:class="'left'"><small><strong th:text="${k.levelString}"/></small></td>
</tr></table></span></code>
        <h5 th:if="${bttfLogs.size() > 0}"><span>
          <span th:if="${logsPage <= 1}" th:class="'disabled'" th:utext="' &#8681; '"/><a th:if="${logsPage > 1}" th:utext="' &#8681; '" th:href="@{|/bttfLog/page/0/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <span th:if="${logsPage == 0}" th:class="'disabled'" th:utext="' &#8678; '"/><a th:if="${logsPage > 0}" th:utext="' &#8678; '" th:href="@{|/bttfLog/page/${prev}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <th:block th:text="'Logback'"/><th:block th:if="${logsFilter != '0'}" th:text="' '"/><a th:if="${logsFilter != '0'}" th:href="@{/bttfLog}" th:text="${logsFilter}"/><th:block th:text="' Count:' + ${logsCnt} + ' [' + ${logsPage + 1} + '/' + ${logsMax + 1} + ']'"/>
          <span th:if="${logsPage >= logsMax}" th:class="'disabled'" th:utext="' &#8680; '"/><a th:if="${logsPage < logsMax}" th:utext="' &#8680; '" th:href="@{|/bttfLog/page/${next}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          <span th:if="${(logsPage + 1) >= logsMax}" th:class="'disabled'" th:utext="' &#8679; '"/><a th:if="${(logsPage + 1) < logsMax}" th:utext="' &#8679; '" th:href="@{|/bttfLog/page/${logsMax}/sort/${logsSort}/filter/${logsFilter}|}" th:class="'decorationoff'"/>
          </span></h5>
      </div>
    </div>
  </div>
</body>
</html>
