
  <title th:text="${serverName}"/>
  <meta th:name="'viewport'" th:context="'width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no'"/>
  <meta th:name="'HandheldFriendly'" th:context="'true'"/>
  <meta th:http-equiv="'X-UA-Compatible'" th:content="'IE=edge,chrome=1'"/>
  <link th:rel="'shortcut icon'" th:href="@{/favicon.png}" th:type="'image/png'"/>
  <link th:rel="'stylesheet'" th:href="@{/res/style.css}" th:type="'text/css'"/>
  <link th:rel="'stylesheet'" th:href="@{/res/style-before-none.css}" th:type="'text/css'">