<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head">
</head>
<body>
  <h1><span>
    <th:block th:if="${headerSoftware}" th:text="${serverSoftware}"/>
    <strong th:text="${T(org.thymeleaf.util.StringUtils).capitalize(serverName)}"/><!--/* <a th:href="'/'"><img th:src="@{/res/Kotlin Full Color Logo on Black RGB.svg}" th:width="'173px'" th:height="'31px'" th:class="'borderoff'"/></a></span></h1> */-->
    <a th:href="'/'"><img th:src="@{/res/kotlin.png}" th:width="'31px'" th:height="'31px'" th:class="'borderoff'"/></a></span></h1>
  <div th:class="'content'">
    <button th:type="'button'" th:class="'topBtn'" th:id="'topBtn'">Top</button><script th:src="@{/res/button.js}"></script>
    <div th:class="'content-middle'">
      <div th:class="'top'" th:with="now=${T(local.intranet.bttf.api.service.BttfService).secForPlayer(now.year, secretKey, secretIv)}">
        <h2><span>
          <th:block th:text="'Back to the Future'"/>
          <small th:utext="'\'' + ${stage} + '\' on '"/>
          <small th:utext="${serverSoftware} + ' - \'' + ${activeProfiles} + '\''"/>
        </span></h2>
        <h5><span>
          <a th:if="${!isAuthenticated}" th:href="@{/login}" th:text="'Log in'"/><a th:if="${isAuthenticated}" th:href="@{/logout}" th:text="'Log out'"/>
          <small th:utext="${bttfApi} + ' ' + ${implementationVersion}"/>
          <small th:text="' with '"/>
          <small><a th:href="@{/license}" th:text="'The MIT License'"/></small>
          <small><a th:href="@{/}" th:text="'Introduction'"/></small>
          <small><a th:href="@{/bttfLog}" th:text="'Log'"/></small>
          <small><a th:href="@{/swagger-ui/}" th:text="'Swagger'"/></small>
        </span></h5>
          <form th:action="@{|/play/year/${now}|}" method="post">
          <input th:class="'submit'" type="submit" th:value="'Now'"/>
          </form>
        <div th:align="'center'">
          <h3><span><th:block th:text="'You are in ' + ${#temporals.format(time, 'yyyy')}"/>
          </span></h3>
        </div>
      </div>
    </div>
    <div th:class="'content-columns'">
      <div th:class="'top'">
        <div th:class="'content-column-left'" th:align="'right'" th:with="past=${T(local.intranet.bttf.api.service.BttfService).secForPlayer(-1L + time.year, secretKey, secretIv)}">
        <h2><span>
          <th:block th:text="'To the Past'"/>
        </span></h2>
<form th:action="@{|/play/year/${past}|}" method="post">
<input th:class="'submit'" type="submit" th:value="'Past'"/>
</form>        
          <br/>
          <img th:src="@{/res/My_cork_badtub_is_like_your_giraffe_rye.png}" th:width="'400px'" th:height="'400px'" th:class="'borderoff'"/>
        </div>
        <div th:class="'content-column-right'" th:align="'left'" th:with="future=${T(local.intranet.bttf.api.service.BttfService).secForPlayer(1L + time.year, secretKey, secretIv)}">
        <h2><span>
          <th:block th:text="'To the Future'"/>
        </span></h2>
<form th:action="@{|/play/year/${future}|}" method="post">
<input th:class="'submit'" type="submit" th:value="'Future'"/>
</form>
          <br/>
          <img th:src="@{/res/Your_banana_eye_is_like_a_grandfather_in_the_closet.png}" th:width="'400px'" th:height="'400px'" th:class="'borderoff'"/>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
